<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section  id="card">

    <section id="perfil">
      <img id="photo" src="assets/perfil.jpg" alt="perfil">
      <h1>Vinícius Freitas de Souza</h1>
    </section>  
     
    <article class="text">
      <p>Matrícula: 23105659</p>
      <p>Turma: ADS0302M.</p>
      <span>Avaliação formadora II</span>
     </article> 
   

  </section>
</ion-content>
